.blogpost-container {
    padding: 10px 100px 100px 100px;
    background-color: #f1f1f1;
}

.post-content img {
border-radius: 17px;
  }

@media (max-width: 768px) {
    .blogpost-container {
        padding: 20px;
    }

    .postTitle {
        font-size: 28px;
        padding: 10px;
    }

    .post-content {
        padding: 20px;
    }
}

.postTitle {
    /* margin-bottom: 5px; */
    /* padding: 20px; */
    font-size: 30px;
    text-align: center;
    padding: 0rem 20rem;

}

.post-content {
    /* background-color: #eaffe6; */
    font-size: 1.1rem;
    padding: 0rem 20rem;
    line-height: 1.8;
    color: #555;
    border-radius: 30px;
}

.post-content p{
margin: 0;
}

.post-content img {
    
    max-width: 100%; 
    height: auto; 
    display: block; 
    margin: 0 auto;
}
