
.marquee-header-campaign{
  text-align: center;
  font-size: 46px;
}
.logo-card {
  /* padding: 100px; */
  /* border: 1px solid black; */
    max-width: 200px;
    /* min-heig1ht: 300px; */
    max-height: 100px;
    margin: 0px;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    overflow-y: hidden !important;
    overflow-x: hidden !important;
  }
  
  .logo-card-image {
    min-width: 200px;
    object-fit: contain; 
  }
  

  @media(max-width: 768px){
    .logo-card {
        max-width: 100px;
        min-width: 100px;
        /* min-heig1ht: 300px; */
        max-height: 100px;
        margin: 50px 20px;    
        padding: 50px;
        /* align-items: center;
        justify-content: center; */
        /* border: 1px solid red; */
 
      }
  }