.stepHero-container {
  position: relative;
  width: 100vw;
  background-color: #ffffff;
  left: -10px;
}

.stepHero-image-container {
  position: relative;
  width: 100%;
  height: 50vh; 
  overflow: hidden;
  left: -10px;
  top: -10px;
}

.stepHero-image {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.stepHero-card-wrapper {
  position: relative;
  top: -200px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  height: auto;
}

.stepHero-title {
  margin-bottom: 30px;
  font-size: 4rem;
  font-weight: bold;
  color: #eeeeee; 
  text-align: center;
  text-shadow: 
    -1px -1px 0 #000000, 
     1px -1px 0 #000000, 
     -1px 1px 0 #000000, 
     1px 1px 0 #000000; 
}


.stepHero1-card {
  width: 80vw;
  max-width: 1200px;
  background-color: #dbdbdb;
  border-radius: 8px;
  padding: 20px;
  margin: 20px 0 20px;
  text-align: center;
  transition: box-shadow 0.3s ease-in-out;
}

.stepHero-card-heading {
  font-size: 1.4rem;
  margin: 10px 0;
  color: #333;
}

.stepHero-card-description {
  font-size: 1rem;
  color: #000000;
  margin: 10px 0;
}

.stepHero-card:hover {
  box-shadow: rgba(60, 64, 67, 0.4) 0px 4px 8px 0px, rgba(60, 64, 67, 0.2) 0px 4px 16px 4px;
}

@media (max-width: 480px) {
  .stepHero-title {
    font-size: 2rem; 
  }

  .stepHero-card-wrapper {
    top: -20px; 
  }

  .stepHero-card {
    width: 95%;
    padding: 10px; 
  }

  .stepHero-card-heading {
    font-size: 1rem; 
  }

  .stepHero-card-description {
    font-size: 0.8rem; 
  }
}

a {
  text-decoration: none;
}