.use-cases-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 30px 50px;
    min-height: 50vh;
    background-color: #ffffff;
    margin: 0px 50px;
}

.casestudyHeading {
    text-align: center;
    font-size: 2rem;
    background-color: #ffffff;
    margin: 20px 50px;
    margin-bottom: 0;
}

.use-cases-content {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px 20px;
    background-color: #ffffff;
    border-radius: 8px;
    text-align: left;
}

.use-cases-content h2 {
    font-size: 2rem;
    color: #333;
    margin: 10px;
}

.use-cases-content h3 {
    font-size: 1.5rem;
    margin: 10px;
    color: #555;
}

.use-cases-content p {
    font-size: 1rem;
    color: #666;
    margin: 10px;
}

.use-cases-content ul {
    list-style-type: disc;
    margin: 10px;
    padding-left: 20px;
}

.use-cases-tabs {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center; /* Center tabs for smaller screens */
}

.use-cases-tab {
    padding: 15px;
    background-color: #e0e0e0;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    min-width: 300px;
}

.use-cases-tab:hover {
    background-color: #c0ffce;
    color: rgb(0, 0, 0);
}

.use-cases-tab.active {
    background-color: #c0ffce;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.use-cases-tab:focus {
    outline: 2px solid #c0ffce;
    outline-offset: 2px;
}

/* Mobile-specific Styles */
@media (max-width: 768px) {
    .use-cases-container {
        flex-direction: column;
        padding: 20px;
        margin: 0px auto;

    }

    .use-cases-content {
        flex: 1;
        margin-bottom: 20px;
        text-align: center;
    }

    .use-cases-content h2 {
        font-size: 1.8rem;
    }

    .use-cases-content h3 {
        font-size: 1.2rem;
    }

    .use-cases-content p {
        font-size: 0.9rem;
    }

    .use-cases-tabs {
        width: 100%;
    }

    .use-cases-tab {
        padding: 12px;
    }
}

/* Further adjustments for very small screens (e.g., phones in portrait mode) */
@media (max-width: 480px) {
    .use-cases-content h2 {
        font-size: 1.5rem;
    }

    .use-cases-content h3 {
        font-size: 1rem;
    }

    .use-cases-content p {
        font-size: 0.8rem;
    }

    .use-cases-tab {
        padding: 10px;
    }
}
