.campaign-eight-cards-container82 {
  text-align: center;
  padding: 20px;
}

.heading82 {
  font-size: 46px;
  margin-bottom: 20px;
  font-weight: 800;
}

.cards82 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card82 {
  flex: 1 1 20%;
  /* This will make sure 4 cards fit in a row on a standard desktop */
  border: 1px solid #00000000;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  background-color: #ffffff;
  text-align: center;
  transition: all .3s ease-in-out;
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #e5e5f7 10px ), repeating-linear-gradient( #e2ff0055, #e2ff00 );
}


.card82:hover{
  scale: 1.04;
  border: 1px solid rgb(204, 204, 204);
}

.icon82 svg{
  font-size: 40px;
  margin-bottom: 10px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .card82 {
    flex: 1 1 45%;
    /* Two cards per row on tablets */
  }
}

@media (max-width: 480px) {
  .card82 {
    flex: 1 1 100%;
    /* One card per row on mobile */
  }
}