.benefits-section {
    display: flex;
    background-color: #E0EBFF;
    padding: 20px;
    border-radius: 10px;
    align-items: center;
    justify-items: center;
  }
  .benefits-image {
    min-height: 50%; /* Ensures container is at least half the parent's height */
    overflow: hidden; /* Hides the image overflow */
    display: flex; /* Flexbox helps to align the content */
    justify-content: center; /* Centers the image horizontally */
    align-items: center; /* Centers the image vertically */
}

.benefits-image img { /* Targeting the image inside the container */
    width: 100%; /* Ensures the image fills the container's width */
    height: 100%; /* Ensures the image fills the container's height */
    border-radius: 10px 0 0 10px; /* Adds the border-radius on specific corners */
    object-fit: cover; /* Crops the image to fit the container without stretching */
}

  
  .benefits-list {
    margin-left: 20px;
    padding: 10px;

  }
  
  .benefits-list h2 {
    color: #1F2A44;
    margin-bottom: 20px;
    font-size: 46px;
  }
  
  .benefit-item {
    display: flex;
    align-items: start;
    margin-bottom: 20px;
  }
  
  .benefit-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .benefit-content h3 {
    margin: 0;
    color: #1F2A44;
  }
  
  .benefit-content p {
    margin: 0;
    color: #5D7290;
  }
  

  @media(max-width: 786px) {
    .benefits-section {
        flex-direction: column;
    }

  }