.ctaButtonDemoContainer {
    display: flex;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    /* min-height: 10%; */
    max-height: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    padding: 50px 0px 50px 0px;
    background-color: #f1f1f1;
}


.ctaBookADemo{
    padding: 30px;
    border: 2px solid #ffc40000;
    border-radius: 17px;
    background-color:   #fffc5b;
    font-size: 22px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    transition: all .3s ease-in-out;
    color: rgb(73, 73, 73);
}

.ctaBookADemo:hover{
    background-color:  #fffb00;
    border: 2px solid#ffc40000;
    color: black;
}

.ctaPDemo{
    font-size: 22px;
    font-weight: 600;
    margin-right:20px;
    /* border: 1px solid black; */

}

@media (max-width: 768px) {
    .ctaButtonDemoContainer{
        flex-direction: column;
        margin-bottom: 50px;
        min-height:300px;
    }

    .ctaPDemo{
        font-size: 18px;
        text-align: center;
        margin: 0;
        padding: 10px;
    }

.ctaBookADemo{
    font-size: 20px;
    font-weight: 700;
}

}