.freeTrialButtonCampaign {
    justify-content: center;
    align-items: left;
    border: 1px solid rgba(0, 0, 0, 0);
    min-width: 100%;    
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0.438);
    color: rgb(0, 0, 0);
    padding: 45px;
    font-weight: 800;
    /* border-radius: 17px; */
    margin:0px 0px 0px 0px;
    font-family: "Poppins", sans-serif;
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;
    transition: all .3s ease-in-out;
}


.freeTrialButtonCampaign:hover{
    background-color: #D8B3B7;
    color: rgb(255, 255, 255);
}

.freeTrialButtonCampaign svg{
    /* background-color: aqua; */
    /* margin-top: 1px; */
font-size: 25px;
}
.freetrialcontainer{
    background-color: rgba(0, 0, 255, 0.116); 
    border-radius: 17px;
    background: rgb(179,174,238);
    background: -moz-linear-gradient(90deg, rgba(179,174,238,1) 0%, rgba(255,184,125,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(179,174,238,1) 0%, rgba(255,184,125,1) 100%);
    background: linear-gradient(90deg, rgba(179,174,238,1) 0%, rgba(255,184,125,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b3aeee",endColorstr="#ffb87d",GradientType=1);
}


.Headingvoipform{
font-size: 36px;
padding-top: 30px;
}

.freetrialcontainer p{
    display: flex;
    justify-content: center;
    align-items: center;
}

.listfreetrial {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    /* align-items: last baseline; */
}

.listfreetrial p {
    flex: 0 0 calc(24.33% - 10px);
    /* margin: 10px 20px; */
    background-color: rgba(119, 95, 95, 0.432);
    padding: 10px;
    border-radius: 17px;
    text-align: left;
    /* border: 1px solid black; */
}

@media (max-width: 992px) {
    .listfreetrial li {
        flex: 0 0 calc(50% - 40px); 
    }
}

@media (max-width: 768px) {
    .listfreetrial li {
        flex: 0 0 calc(100% - 40px); 
    }
    .Headingvoipform{
        font-size: 18px;
        padding-top: 30px;
        }

        .freeTrialButtonCampaign {
            font-size: 22px;
            /* padding-top: 30px; */
        }
}
