.report-section {
    text-align: center;
    padding: 40px;
  }
  
  .report-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .report-section .highlight {
    color: #002776; /* Customize the color to match your theme */
  }
  
  .report-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
  }
  
  .report-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: calc(50% - 40px);
    margin-bottom: 20px;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 8px;
  }
  
  .image-container {
    position: relative;
    margin-right: 15px;
  }
  
  .report-image {
    width: 150px; /* Adjust as needed */
    height: auto;
    border-radius: 50%;
    /* border: 1px solid red; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  
  .icon-circle {
    position: absolute;
    top: -10px;
    left: -10px;
    background-color: #ffffff;
    color: #ff0000;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  }
  
  .report-item p {
    margin: 0;
    text-align: left;
    font-size: 14px; /* Adjust as needed */
  }
  
  .cta-button {
    background-color: #ff0000; /* Customize the color to match your theme */
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  .cta-button:hover {
    background-color: #cc0000; /* Customize the color to match your theme */
  }
  