.phone-numbers {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    /* max-height: 600px; */
    overflow: auto;
    /* border: 1px solid black; */
    padding: 50px;
    background-image: url('/Assets/dot-grid.webp');
}

.region {
    width: 100%;
}

.phone-numbers h2 {
    margin: 0 0 10px 0;
    font-size: 18px;
    font-weight: 700;
}

.phone-numbers ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.phone-numbers li {
    margin-bottom: 10px;
    font-size: 10px;
}

.country-card {
    width: 100px;
    height: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0);
    border-radius: 16px;
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    padding: 5px;
    text-align: center;
    border: 1px solid rgb(243, 242, 242);
    transition: all .3s ease-in-out;
}

.country-card:hover {
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    transform: scale(1.07);
    background: rgb(219, 255, 215);

}

.country-card a {
    text-decoration: none;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.flag-icon {
    width: 60px;
    height: 50px;
    padding: 0;
    /* object-fit: cover; */
}

.country-card span {
    font-size: 14px;
    margin-top: 5px;
}