.accordionContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    /* background-color: #eeeeee; */
    border-radius: 17px;

}

.accordionItem svg{
padding: 0px 10px;
}

 .accordionItem button {
    background-color: #ffffff00;
    border-radius: 17px; 
    border: 1px solid #d8d8d8;
    padding: 10px 0px;    
  }  
  
  .accordionItemTitle {
    /* background-color: #ffffff; */
  /* border: 1px solid black; */
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    /* border: 10px solid black; */
    font-weight: 500;
    text-wrap: nowrap;
    /* text-decoration: underline; */
    font-size: 16px;
    transition: background-color 0.3s ease;
    user-select: none; 
    min-width: 18rem;
    /* background-color: #DFFFD8; */
  }
  
  .accordionContent {
    max-width: 18rem;
     padding: 30px;
    background-color:#f0f0f0;
    color: rgb(46, 46, 46);
    border-radius: 50px;
    /* background-colorgb(228, 228, 228)ff0000; */

  }
  
  .accordionContent p {
    margin: 0;
    /* background-color: #ff0000; */
    padding: 0.5rem 0; 
  }
  
  @media (max-width: 768px) {
  .accordionContainer{
    flex-direction: column;
  }
  }