.cards-container {
    /* background-image: url(../../public/Assets/dot-grid.webp); */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px;
    margin-bottom: 3rem;
}

.card {
    background-color: #d5d5d5;
    border-radius: 17px;
    text-align: center;
    transition: transform 0.5s ease-in-out;
}

.cards-container .card:hover {
    transform: scale(1.03);
    background-color: #98FF83;
    transition: background-color 0.5s ease-in-out;
    color: black;

}

.cards-container .card {
    background-color: #f0f0f089;
    border: .5px solid rgb(255, 255, 255);
    color: #303030;
}