.dropdownMenu {
  position: absolute;
  left: 0%;
  top: 5%;
  transform: translate(-29%, 5%);
  width: 90vw;
  height: auto;
  background-color: #ffffff !important;
  padding: 0px 30px 30px 30px !important;
  box-sizing: border-box;
  line-height: 20px !important;
  z-index: 2;
  transition: all .5s ease-in-out;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
  /* background-color: rgb(0, 0, 0);
  background: -moz-radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(224, 255, 217, 1) 100%);
  background: -webkit-radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(224, 255, 217, 1) 100%);
  background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(224, 255, 217, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#e0ffd9", GradientType=1); */
}

.dropbutton:hover .dropdownMenu {
  display: block;
  cursor: pointer;
}

.sectionHeadingDropdown {
  font-size: 18px;
  margin: 0px 10px;
  border-bottom: 1px solid rgb(255, 0, 0);
  padding-bottom: 5px;
  text-align: left;
}

.sectionRow {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.sectionCol {
  background-color: rgb(225, 255, 220);
  margin: 0px 10px;
  border-radius: 10px;
  padding: 30px;
  flex: 1;
  max-height: 75vh;

}

.itemRow {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-items: flex-start;
  border: 1px solid red;
  margin-bottom: 5px;
  padding: 2px 5px;
  /* padding: 0px 5px; */
}

.itemColLink  {
  color: rgb(0, 0, 0);
  transition: all 0.3s ease-in-out;
  display: flex;
  align-content: center; /* Aligns items vertically */
  justify-content: left;
  flex-direction: row;
  margin: 2px 0;
  text-align: left;
  padding: 0px !important; /* Add some padding for better spacing */
  border: 1px solid red;
  max-height: 100px;

}




.itemColLink svg {
  font-size: 25px;
  margin-top: 0px; /* Space between icon and text */
  /* border: 1px solid red; */
  background-color: rgb(255, 255, 255);
  padding: 3px 3px 3px 3px;
  border-radius: 7px;
  margin:0px;
  border: 1px solid red;
}


.itemCol1 {
  color: rgb(0, 0, 0);
  transition: all .3s ease-in-out;
  margin-bottom: 0px;
}

.itemColLink:hover {
  color: blue;
}

.itemCol1:hover {
  color: blue;
}

.itemDescription {
  font-size: 14px !important;
  font-weight: 500;
  text-align: left;
  margin: 0px; 
}
