.dropdownMenu {
  position: absolute;
  left: 0%;
  top: 10%;
  transform: translate(-51%, 6%);
  width: 90vw;
  height: 80vh;
  background-color: #ffffff !important;
  border: 1px solid #ffffff !important;
  padding: 0px 30px 30px 30px !important;
  box-sizing: border-box;
  line-height: 20px !important;
  z-index: 2;
  transition: all .5s ease-in-out;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
  background: rgb(255, 255, 255);
  background: -moz-radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(224, 255, 217, 1) 100%);
  background: -webkit-radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(224, 255, 217, 1) 100%);
  background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(224, 255, 217, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#e0ffd9", GradientType=1);
}

.dropbutton:hover .dropdownMenu {
  display: block;
  cursor: pointer;
}

.sectionHeadingDropdown {
  font-size: 24px;
  margin: 15px 10px;
  border-bottom: 2px solid black;
  padding-bottom: 5px;
  text-align: left;
}

.sectionRow {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.sectionCol {
  background-color: rgba(240, 240, 240, 0);
  margin: 0px 20px;
  border-radius: 10px;
  padding: 10px;
  flex: 1;
}

.itemRow {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  /* padding: 0px 5px; */
}

.itemColLink {
  color: rgb(0, 0, 0);
  transition: all .3s ease-in-out;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
  padding:10px 0px;
  font-size: 2px;
}

.itemColLink svg{
 margin-top: 5px;
 /* padding-top: 5px; */
 font-size: 25px;
}

.itemCol1 {
  color: rgb(0, 0, 0);
  transition: all .3s ease-in-out;
  margin-bottom: 0px;
}

.itemColLink:hover {
  color: blue;
}

.itemCol1:hover {
  color: blue;
}

.itemDescription {
  font-size: 14px !important;
  font-weight: 500;
  text-align: left;
  margin: 0px; 
}
