.BenefitsContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    padding: 30px;
  }
  
  .benefitsHeaderContainer h2 {
    font-size: 30px;
    /* text-decoration: underline; */
    color: #333333;
  }
  
  .benefitsHeaderContainer p {
    font-size: 18px;
  }
  
  .benefitsButton {
    padding: 20px 30px;
    font-size: 1.2em;
    color: #000000;
    background-color: #f3e300cc;
    font-weight: 600;
    border: none;
    border-radius: 17px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .BenefitsCardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 50px;
    /* padding: 20px; */
}

.benefitCard {
    width: 300px;
    background-color: #f8f8f8;
    height: 450px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    /* padding: 20px; */
    transition: all .3s ease-in-out;
  }


  .benefitCard:hover{
    transform: scale(1.03);
    background-color: #ffffff;
  }
  .imageContainer{
    padding: 0;
  }
  
  .imageContainer img {
    width: 100%;
    height: 250px; /* Adjust the height as needed */
    object-fit: cover;
    padding: 0;
  }
  
  .benefitCard h3 {
    font-size: 22px;
    margin: 0px 5px;
    color: #333333;
  }
  
  .benefitCard p {
    font-size: 16px;
    color: #555555;
    text-align: center;
    padding: 5px 10px;

  }
  
  @media (max-width: 768px) {
    .cardsContainer {
      flex-direction: column;
      align-items: center;
    }
  }
  