.InternationalHeaderContainer {
  display: flex;
  justify-content: center;
  align-items: start; /* Align items to start to prevent shifting */
  text-align: left;
  background-color: #f3f3f300;
  margin-top: 100px;
  max-height: 800px;
  overflow: hidden; 
  position: relative;
  -ms-overflow-style: none;  
  scrollbar-width: none; 
}


.FlagContainer {
  flex: 0 0 auto; 
  max-width: 500px; 
}

.flagImage {
  width: 100%;
  height: auto;
  margin-top: 10px;  
  border-radius: 17px;
  object-fit: cover; 
}

.InternationalContent {
  max-width: 650px;
  padding: 0px 20px 0px 50px;
  overflow: auto;
  position: relative;
}

.InternationalContent h1 {
  font-size: 34px;
  margin-bottom: 0px;
  font-weight: 700;
}

.InternationalContent h2 {
  font-size: 16px;
  font-weight: 100;
}

.InternationalButton {
  padding: 10px 20px ;
  font-size: 1em;
  color: #000000;
  background-color: #f3e300cc;
  font-weight: 600;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.InternationalButton:hover {
  background-color: #f3e300;
}

.Heading {
  margin-bottom: 20px;
}

.gradientLetter {
  background-image: url("/Assets/gradient.png");
  background-size: cover;
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
}

@media (max-width: 768px) {
  .InternationalHeaderContainer {
    flex-direction: column; /* Stack items vertically on smaller screens */
    align-items: center;
    margin-top: 50px;
  }

  .InternationalContent {
    padding: 10px;
  }

  .InternationalContent h1 {
    font-size: 2em;
    padding: 0;
  }

  .InternationalContent h2 {
    font-size: 18px;
  }

  .InternationalButton {
    font-size: 0.9em;
    padding: 8px 16px;
  }

  .Heading {
    font-size: 28px;
  }
}
