.subHeaderContainer{    
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    text-align: center;
    padding: 20px;
    background: rgb(226,255,224);
    background: -moz-linear-gradient(101deg, rgba(226,255,224,1) 0%, rgba(226,230,255,1) 100%);
    background: -webkit-linear-gradient(101deg, rgba(226,255,224,1) 0%, rgba(226,230,255,1) 100%);
    background: linear-gradient(101deg, rgba(226,255,224,1) 0%, rgba(226,230,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e2ffe0",endColorstr="#e2e6ff",GradientType=1);
       margin-top: 20px;
       min-width: 97.90vw;
       margin-left: -8.55vw;
}
.subHeaderHeading {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center; /* Ensure the heading is centered */
  }
  
  .cardImage{
    min-width: 100%;
    min-height: 100%;
    border-radius: 17px;
  }
  .cardsContainer {
    display: flex;
    flex-wrap: wrap;
    /* padding-left: 300px; */
    gap: 20px;
    justify-content: center; /* Center the cards container */
  }
  
 .textCard {
    background: #ffffff00;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    border-radius: 8px;
    padding: 20px 60px 20px 10px;
    flex: 1 1 45%;
    max-width: 700px;
    text-align: left;
  }

  .imageCard{
    background: rgba(255, 255, 255, 0);
    border-radius: 17px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0);
    backdrop-filter: blur(2.9px);
    -webkit-backdrop-filter: blur(2.9px);
    padding: 50px;
    flex: 1 1 45%;
    max-width: 500px;
    justify-content: center;
    align-items: center;
    text-align: left;
  }
  
  .cardHeading {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .cardParagraph {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .bulletPoints {
    list-style-type: circle;
    padding-left: 15px;
    font-size: 18px;
    font-weight: 500;
  }


  .visualElement:hover{
    filter: blur(0px);

}

.visualElement{
    /* border: 1px solid black; */
    min-height: 150px;
    position: absolute;
    /* z-index: 1; */
    top: 550px;
    border-radius: 17px;
    /* filter: blur(5px); */
    left: 200px;
    min-width: 150px;
    background: rgb(252,255,172);
    background: -moz-linear-gradient(37deg, rgba(252,255,172,1) 0%, rgba(255,255,221,1) 100%);
    background: -webkit-linear-gradient(37deg, rgba(252,255,172,1) 0%, rgba(255,255,221,1) 100%);
    background: linear-gradient(37deg, rgba(252,255,172,1) 0%, rgba(255,255,221,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fcffac",endColorstr="#ffffdd",GradientType=1);
    transition: all .3s ease-in-out;
}
  
  .bulletPoints li {
    margin-bottom: 5px;
  }
  
  @media (max-width: 768px) {

    .subHeaderContainer{
      max-width: 90%;
      margin-left: -10.55vw;

    }
    .cardsContainer {
      flex-direction: column-reverse;
      align-items: center;
      padding-left: 0px;
    }
  
    .imageCard{
      flex: 1 1 100%;
      border: 2px solid red;
      min-width: 100%;
    }
    .contactCard{
        flex-direction: column;
        max-width: 300px !important;
        /* border: 2px solid red; */
        /* border: 2px solid red; */
      }
      .contactCard Image{
        /* max-width: 10px; */
        border: 2px solid red;
      }
    }
    
    
    .contactCard {
    /* border: 2px solid red; */
    background: #ffffff00;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    border-radius: 8px;
    padding: 20px;
    flex: 1 1 45%;
    max-width: 500px;
    max-height: 500px;
    /* border: 2px solid rgb(233, 233, 233); */
    text-align: left;
  }
  
  .contactRow {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
  }
  
  .contactRow:last-child {
    border-bottom: none;
  }
  
  .flagIcon {
    margin-right: 10px;
  }
  
  .contactNumber {
    font-size: 14px;
  }

  .buyNowButton {
    background-color: rgb(25, 0, 255);
    color: rgb(255, 255, 255);
    padding: 5px;
    border: none;
    border-radius: 5px;
    /* cursor: pointer; */
   justify-content: end;
   margin-left: 20px;
  }
  
  /* .buyNowButton:hover {
    background-color: darkblue;
  } */