.cards-section {
    padding: 20px;
    text-align: center;
  }
  
  .section-heading {
    font-weight: bold;
    margin: 20px;
    color: #333;
    font-size: 40px;
  }
  
  .cards-container1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
  }
  
  /* Individual Card */
  .card1 {
    height: 150px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f9f9f9;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    text-align: left;
  }
  
  /* Hover Effect */
  .card:hover {
    transform: scale(1.01);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  }
  
  /* Card Header */
  .card-header {
    display: flex;
    align-items: center;
  }
  

  .card-header svg {
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 50%;
  }
  /* Icon and Title on the Same Line */
  .card-title {
    font-weight: bold;
    margin-left: 5px;
    font-size: 18px;
  }
  
  /* Card Description */
  .card-description {
    font-size: 14px;
    color: #555;
  }
  
  /* Mobile Responsiveness */
  @media screen and (max-width: 768px) {
    .cards-container {
      grid-template-columns: 1fr;
    }
  
    .card {
      padding: 12px;
      height: auto;
    }
  
    .card-title {
      font-size: 1rem;
    }
  }
  